@-webkit-keyframes AutoSlideBG {
	0%, 15%, 100% {
		left: 0px; /* première image et dernière*/
	}
	35%, 50% {
		left: -1600px; /*2ème image*/
	}
	70%, 85% {
		left: -3200px; /*3ème image*/
	}
}
@-moz-keyframes AutoSlideBG {
	0%, 15%, 100% {
		left: 0px; /* première image et dernière*/
	}
	35%, 50% {
		left: -1600px; /*2ème image*/
	}
	70%, 85% {
		left: -3200px; /*3ème image*/
	}
}
@keyframes AutoSlideBG {
	0%, 15%, 100% {
		left: 0px; /* première image et dernière*/
	}
	35%, 50% {
		left: -1600px; /*2ème image*/
	}
	70%, 85% {
		left: -3200px; /*3ème image*/
	}
}

#background {
	z-index: -1;
	position: fixed;    /*le parent positionné*/
	width: 1600px;          /*limite en largeur (1 élément du slideshow)*/
	height: 1600px;         /*limite en hauteur*/
	overflow: hidden;      /*on cache ce qui déborde*/
	top: 0px;               /*on le positionne précisément dans ...*/
	left: 0px;              /*l'angle haut gauche de son parent positionné*/
}

#background-images li {
	display: inline;      /*on aligne les éléments du slideshow*/
}

#background-images {
	position: absolute;   /*on sort l'élément du flux*/
	width: 4200px;
	margin: 0;            
	padding: 0;
	
	/*CSS3 webkit keyframes animation*/
	-webkit-animation-name: AutoSlideBG;
	-webkit-animation-duration: 10s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: ease-in-out;
	
	/*CSS3 moz keyframes animation*/
	-moz-animation-name: AutoSlideBG;
	-moz-animation-duration: 10s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: ease-in-out;
	
	/*CSS3 W3C keyframes animation*/
	animation-name: AutoSlideBG;
	animation-duration: 10s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
}
